/* this program is about JS basics with css and html */

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}
nav{
    background-color: rgb(42, 134, 165);
    padding: 20px;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}