/* this is about pratice question with html  */


h1{
    background-color: aqua;
}


div{
    background-color: brown;
    color: white;
    font-size: 2rem;
    padding: 10px;
    margin: 10px;
   

}